<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body>
<!-- 主体 -->
<div class="container" style="margin-bottom: 15%;">
    <div class="table-list roll-x">
        <fieldset class="layui-elem-field">
            <legend style="font-weight:bold">1、添加用户</legend>
            <div class="layui-field-box">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">接口地址</div>
                        <div class="layui-card-body">
                            /web/test
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">请求方式</div>
                        <div class="layui-card-body">
                            GET
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">请求参数</div>
                        <div class="layui-card-body">
                            <table class="layui-table" style="width:900px; min-width: 900px!important;">
                                <thead>
                                <tr>
                                    <th width="150">名称</th>
                                    <th width="80">类型</th>
                                    <th>描述</th>
                                    <th>是否必填</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>WithdrawNum</td>
                                    <td>String</td>
                                    <td>提现编号</td>
                                    <td>Y</td>
                                </tr>
                                <tr>
                                    <td>UserId</td>
                                    <td>String</td>
                                    <td>商户Id</td>
                                    <td>Y</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">请求示例</div>
                        <div class="layui-card-body">
                            <div class="layui-collapse layui-col-md12" lay-accordion="">
                                <div class="layui-colla-item">
                                    <h2 class="layui-colla-title"></h2>
                                    <div class="layui-colla-content">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">返回参数</div>
                        <div class="layui-card-body">
                            <table class="layui-table" style="width:900px; min-width: 900px!important;">
                                <thead>
                                <tr>
                                    <th width="150">名称</th>
                                    <th width="80">类型</th>
                                    <th>描述</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Success</td>
                                    <td>bool</td>
                                    <td>请求是否成功</td>
                                </tr>
                                <tr>
                                    <td>WithDrawMoney</td>
                                    <td>decilal</td>
                                    <td>提现金额（decimal类型，单位：元）</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">请求方式</div>
                        <div class="layui-card-body">
                            GET
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<script src="../layui/layui.all.js"></script>
<script>
    layui.use(['element', 'layer', 'code', 'jquery'], function () {
        var form = layui.form,
            layer = layui.layer,
            layedit = layui.layedit,
            laydate = layui.laydate;
        var element = layui.element;
        layui.code();
    }
</script>
</body>
</html>
