<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>应用列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="${request.contextPath}/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="${request.contextPath}/css/public.css" media="all" />
</head>
<script src="${request.contextPath}/layui/layui.all.js" charset="utf-8"></script>
<script src="${request.contextPath}/jquery/jquery.js" charset="utf-8"></script>

<script type="text/javascript">
    ;!function(){
        var layer = layui.layer
        var form = layui.form;
        var table = layui.table;
        form.render();
        form.on('submit(query)', function (data) {
            var param = JSON.stringify(data.field);
            table.reload('application',{
                url: '${request.contextPath}/application/page',
                where: data.field
            });
            return false;
        });

    }();
    $(function (){
        var table = layui.table;
        var form = layui.form;
        $.ajax({
            url: '${request.contextPath}/business/line/query',
            type: 'get',
            async: false,
            success: function (data) {
                $.each(data.data, function (index, item) {
                    $('#businessLineId').append(new Option(item.name, item.id));// 下拉菜单里添加元素
                });
            }
        });
        form.on('select(businessLine)', function(data){
            var businessLineId = data.value; //得到被选中的值
            $('#serviceId').empty();
            if (businessLineId == 0) {
                form.render();
                return;
            }
            $.ajax({
                url: '${request.contextPath}/service/businessLine/query/' + businessLineId,
                type: 'get',
                async: false,
                success: function (data) {
                    $('#serviceId').append(new Option("请选择", ""));
                    $.each(data.data, function (index, item) {
                        $('#serviceId').append(new Option(item.name, item.id));// 下拉菜单里添加元素
                    });
                    form.render();
                }
            });
        });
        form.render();
        table.render({
            elem: '#application'
            ,url:'${request.contextPath}/application/page'
            ,hight:380
            ,method: 'post'
            ,contentType: 'application/json'
            ,toolbar: '#toolsBar'
            ,parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.data //解析数据列表
                };
            }
            ,request: {
                pageName: 'pageNum' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            ,response: {
                statusCode: 200
            }
            ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{field:'id', align: 'center', title: 'ID', sort: true}
                ,{field:'name',  title: '应用名称' , align: 'center'}
                ,{field:'businessLineName',  title: '业务线名称' , align: 'center'}
                ,{field:'serviceName',  title: '服务名称' , align: 'center'}
                ,{field:'desc', title: '描述', sort: true, align: 'center'}
                ,{field:'createUser', title: '创建人', align: 'center'}
                ,{field:'createDate', title: '创建时间', align: 'center'}
                ,{fixed: 'right', width:200, title:'操作', toolbar: '#barDemo', align: 'center'}
            ]]
            ,page: true
        });
        //监听行工具事件
        table.on('tool(application)', function(obj){
            var data = obj.data;
            //console.log(obj)
            if(obj.event === 'detail'){
                //var resourceName = encodeURI(encodeURI(data.diagramResourceName));
                var flag= true;
                layer.open({
                    type: 2,
                    title: "编辑",
                    skin: 'layui-layer-molv',
                    area: ['80%', '80%'],
                    content: "${request.contextPath}/application/edit/page/" + data.id,
                    btn: ['取消'],
                    btnAlign: 'c',
                    yes: function(index, layero){
                        flag = false;
                        layer.close(index);
                    },
                    end: function(){
                        reloadTable();
                    }
                });
            }
        });

        //头工具栏事件
        table.on('toolbar(application)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            var data = checkStatus.data;
            switch(obj.event){
                case 'add':
                    addApplication();
                    break;
                case 'delete':
                    if (data.length > 1){
                        layer.msg("目前暂支持选中一行");
                        return;
                    }
                    if (data.length < 1){
                        layer.msg("请选择一行数据");
                        return;
                    }
                    var params = data[0].id;
                    $.ajax({
                        type: 'DELETE',
                        url: '${request.contextPath}/application/delete/' + params,
                        success: function(response){
                            if (response.success) {
                                layer.open({
                                    skin: 'layui-layer-molv',
                                    content: "删除成功"
                                });
                            } else {
                                layer.open({
                                    skin: 'layui-layer-molv',
                                    content: "" + response.message
                                });
                            }
                            reloadTable();
                        }
                    });
                    break;
            };
        });
    });
    function reloadTable(){
        var table = layui.table;
        table.reload('application',{
            url: '${request.contextPath}/application/page'
        });
    }

    //添加
    function addApplication(){
        var index = layui.layer.open({
            title : "新增",
            type : 2,
            content : "${request.contextPath}/application/savePage",
            success : function(layero, index){
                setTimeout(function(){
                    layui.layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
                        tips: 3
                    });
                },500)
            }
        });
        layui.layer.full(index);
        window.sessionStorage.setItem("index",index);
        //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
        $(window).on("resize",function(){
            layui.layer.full(window.sessionStorage.getItem("index"));
        })
    }
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
</script>

<script type="text/html" id="toolsBar">
    <a class="layui-btn layui-btn-xs" lay-event="add">新增</a>
    <a class="layui-btn layui-btn-xs" lay-event="delete">删除</a>
</script>
<body class="childrenBody">
<div class="table-list roll-x">
    <fieldset class="layui-elem-field">
        <legend>查询条件</legend>
        <div class="layui-field-box">
            <form class="layui-form" id="applicationForm">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">业务线</label>
                        <div class="layui-input-inline">
                            <select name="businessLineId" lay-filter="businessLine" id="businessLineId">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">服务</label>
                        <div class="layui-input-inline">
                            <select name="serviceId" lay-filter="serviceId" id="serviceId">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">应用名称</label>
                        <div class="layui-input-inline" style="max-width: 300px;">
                            <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline" style="max-width: 300px;">
                            <button lay-submit="" lay-filter="query" class="layui-btn">查询</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </fieldset>
    <table class="layui-hide" id="application" lay-filter="application"></table>
</div>
</body>
</html>