<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="${request.contextPath}/layui/css/layui.css"  media="all">
</head>
<script src="${request.contextPath}/layui/layui.all.js" charset="utf-8"></script>
<script src="${request.contextPath}/jquery/jquery.js" charset="utf-8"></script>
<script type="text/javascript">
    ;!function(){
        var layer = layui.layer
            ,form = layui.form;

    }();
    $(function (){
        var form = layui.form;
        layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery;

        $.ajax({
            url: '${request.contextPath}/business/line/query',
            type: 'get',
            async: false,
            success: function (data) {
                $.each(data.data, function (index, item) {
                    console.log(item);
                    $('#businessLineId').append(new Option(item.name, item.id));// 下拉菜单里添加元素
                });
            }
        });
        form.render();
        form.on('submit(save)', function (data) {
            //弹出loading
            var index = top.layer.msg('数据提交中，请稍候',{icon: 16,time:false,shade:0.8});
            var param = JSON.stringify(data.field);
            $.ajax({
                type: "PUT",
                url: "${request.contextPath}/service/save",
                data: param,
                contentType: 'application/json',
                success: function (data) {
                    var message = "";
                    if (data.success) {
                        message = "保存成功";
                    } else {
                        message = data.message;
                    }
                    setTimeout(function(){
                        top.layer.close(index);
                        top.layer.msg(message);
                        layer.closeAll("iframe");
                        //刷新父页面
                        parent.location.reload();
                    },1000);
                }
            });
            return false;
        });
    });

    function back() {
        history.back();
    }
</script>
<body>
<fieldset class="layui-elem-field"  >
    <legend>新增</legend>
    <div class="layui-field-box">
        <form class="layui-form" id="serviceForm">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">业务线</label>
                    <div class="layui-input-inline">
                        <select name="businessLineId" lay-filter="businessLine" id="businessLineId">
                            <option value="0">请选择</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">服务名称</label>
                <div class="layui-input-block" style="max-width: 300px;">
                    <input type="text" name="name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">描述</label>
                <div class="layui-input-block" style="max-width: 500px;">
                    <input type="text" name="desc" lay-verify="" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea style="max-width: 500px;" name="remark" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button lay-submit="" lay-filter="save" class="layui-btn">保存</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                   <!-- <a onclick="back()" class="layui-btn layui-btn-normal layui-btn-radius" target="_blank">返回</a>-->
                </div>
            </div>
        </form>
    </div>
</fieldset>
</body>
</html>